.buttons {
  display: flex;
  justify-content:space-around;
  margin-bottom: 40px;
  background-color: #5150761A;
  padding: 20px;
}

.button {
  background-color: #d0d6f9;
  font-size: 12px;
  line-height:24px;
  color: #5b577c;
  border-color: #A5A3B9;
}

.redColor {
  background-color: #f5a2a2;
}